body {
	  background-color: white;
	  background-image: url("doctors.jpg");
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  
	   margin-top: 50px;
	  margin-right: 50px;
	  margin-bottom: 10px;
	  margin-left: 250px;
	}
	
	table {
	background: yellow;
		border = "5";		
		width = "400px";		
		padding= "5";	
	}
	
	#repeat {
	background: blue;
		border = "5";		
		width = "400px";		
		padding= "5";	
		  border-width: thick;
	  border-style: dotted;
	  border-color: gold;
	}
	
	#attachment {
		background: orange;
		border = "5";		
		width = "400px";		
		padding= "5";
		letter-spacing: 0px;
  border-width: thick;
	  border-style: dotted;
	  border-color: gold;		
	}
	                 
	h1 { 
	   color: red;	
	   font-family: arial, verdana, sans-serif;
	   font-variant: normal;
	   font-size: 18px;
	   text-decoration:underline;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	h3 { 
	   color: blue;		
	   font-family: "Times New Roman", serif;
	   font-variant: lowercase;
	   font-size: 16px;
	   text-transform: none;
	   background-color: yellow;
	}
	
	p {
	 text-indent: 30px;
		font: normal normal 14px arial, sans-serif;
		text-align: justify;
		letter-spacing: 0px;
	}
	
	th{
	font-family: "Times New Roman", serif;
	  font-weight: bold;
	  text-align: center;
	}
	
	td{
	font: normal normal 14px arial, serif;
	text-align: left;
	}
	
	#unbesucht{
	 color: blue;
	 font-family:"Times New Roman", serif;
	 text-decoration:none;
	}
	
	#besucht{
	 color: purple;
	 text-decoration:none;
	}
	
	#aktive{
	 background-color: #FFFF00;
	  text-decoration:none;
	}
	#anime{
	 color: orange;
	  font-style: italic;
	  text-decoration:none;
	}
	
	a:link{
	 color: blue;
	 text-decoration:none;
	}
	
	a:visited{
		color:purple;
		text-decoration:none;
	}
	
	a:active {
	  background-color: #FFFF00;
	  text-decoration:none;
	}
	a:hover{
	color: orange;
	  font-style: italic;
	  text-decoration:none;
	}