body {
	  background-color: white;
	  background-image: url("doctors.jpg");
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  
	  margin-top: 10px;
	  margin-right: 200px;
	  margin-bottom: 10px;
	  margin-left: 200px;
	}
	
	#hoch{ 
		color: gray;	
		font-family: "Times", Times, serif;
		font-style:oblique;
		font-variant: normal;
		font-size: 40px;
		text-decoration:none;
		letter-spacing: 0px;	
		padding: 0px 0px 20px 200px;		
	}

	
	table {
		background: yellow;			
		width = "400px";		
		padding= "5";	
		border:1px solid black;
	}
	/*  */
	#repeat {
	background: blue;
		border:1px solid black;	
		width = "400px";	
		padding= "5";	
	
	 
	}
	
	#attachment {
		width: 600px;
		height: 100px
		background: orange;
		border:1px solid black;			
		padding= "5";
		letter-spacing: 0px;
		border-width: thick;
		border-style: dotted;
		border-color: gold;	
  
	}
	                 
	h1 { 
	   color: red;	
	   font-family: arial, verdana, sans-serif;
	   font-variant: normal;
	   font-size: 18px;
	   text-decoration:underline;		 
	  padding: 0px 0px 20px 0px;
	
	}
	

	
	h3 { 
	   color: blue;		
	   font-family: "Times New Roman", serif;
	   font-variant: lowercase;
	   font-size: 16px;
	   text-transform: none;
	   background-color: yellow;
	    background: orange;
	  padding-left:120px;
	  
	    border-top-width: thick;
	  border-top-style: solid;
	  border-top-color: red;
	  
	  border-bottom-width: thick;
	  border-bottom-style: solid;
	  border-bottom-color: blue;
	  
	  border-right-width: thick;
	  border-right-style: solid;
	  border-right-color: green;
	  
	  border-left-width: thick;
	  border-left-style: solid;
	  border-left-color: orange;
	}
	
	p {
		text-indent: 30px;
		font: normal normal 14px arial, sans-serif;
		text-align: justify;
		letter-spacing: 0px;
		}
	
	th{
	font-family: "Times New Roman", serif;
	  font-weight: bold;
	  text-align: center;
	  background-color:green;
	}
	
	td{
	font: normal normal 14px arial, serif;
	text-align: left;
	}
	
	#unbesucht{
	 color: blue;
	 font-family:"Times New Roman", serif;
	 text-decoration:none;
	}
	
	#besucht{
	 color: purple;
	 text-decoration:none;
	}
	
	#aktive{
	 background-color: #FFFF00;
	  text-decoration:none;
	}
	#anime{
	 color: orange;
	  font-style: italic;
	  text-decoration:none;
	}
	
	a:link{
	 color: blue;
	 text-decoration:none;
	}
	
	a:visited{
		color:purple;
		text-decoration:none;
	}
	
	a:active {
	  background-color: #FFFF00;
	  text-decoration:none;
	}
	a:hover{
	color: orange;
	  font-style: italic;
	  text-decoration:none;
	}
	
	#spd {
	  background:red;
	  color:white;
	}

	#cducsu {
	  background:black;
	  color:white;
	}
	
	ul {
	  border-width: 10px;
	  border-style: solid;
	  border-color: orange;
	}
	
	div.box {
	  height: 500px;
	  width: 200px;
	  border: 1px solid black;
	  background: orange;
	}
	#picture {
	  float:left;
	  width: 275px;
	}
	
	
	p.floatstop {
	text-indent: 10px;
		font: normal normal 14px arial, sans-serif;
		text-align: justify;
		letter-spacing: 0px;
	 /* <!-- clear:both; uygulanan float metodunu nötr hale getirmek icin kullanilir. Alabilecegi degerler, right,left,both,top,bottom.-->*/ 
	}
	
	#karo_zehn {
	  position: relative;
	  left: 0px;
	  top: 10px;
	  z-index: 1;
	}

	#karo_bube {
	  position: relative;
	  left: 20px;
	  top: -120px;
	  z-index: 2;
	}

	#karo_dame {
	  position: relative;
	  left: 40px;
	  top: -240px;
	  z-index: 3;
	}

	#karo_koenig {
	  position: relative;
	  left: 60px;
	  top: -360px;
	  z-index: 4;
	}

	#karo_ass {
	  position: relative;
	  left: 80px;
	  top: -480px;
	  z-index: 5;
	}
